body{
    margin: 0;
    min-width: 515px;
}
#cabecalhoprincipal{
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#divprincipal{
    display: inline-flex;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    justify-content: space-between;
    align-items: center;
}

div#container{
    flex-wrap:wrap;
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div#contSub{
    background-color: rgba(255, 30, 225, 0.226);
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

div.subCon1{
    margin: 6px;
    display: inline-flex;
}

div.subCon2{
    margin: 6px;
    display: inline-flex;
}

button.quadradoConteudo{
    background-color: white;
    border-color: rgba(128, 128, 128, 0.308);
    border-width: thin;
    border-radius: 3%;
    align-items: center;
    padding: 2.5% 20px 2.5% 20px;
    text-align: right;
    color: gray;
}

#rodape {
    width: 100%;
    background-color: red;
    padding-top: 2%;
    display: inline-block;
    color: white;
    font-weight: 600;
}

p {
    text-align: center;
}

p.nomeProduto{
    color: black;
}

p.preco{
    color: red;
    font-weight: 600;
}
p.precoAlto{
    font-size: 12px;
    margin-bottom: 0%;
}
button.btn{
    background-color: red;
    border: 0;
}

p.letrasRodape{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}