body{
    margin: 0;
}
#cabecalhoprincipal{
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#divprincipal{
    display: inline-flex;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    justify-content: space-between;
    align-items: center;
}
